################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/WebServiceAsmx.Web/bin
/WebServiceAsmx.Web/obj/Debug
